Document the RFCs we're working from

[RFC 5321](https://tools.ietf.org/html/rfc5321)
[RFC 7504](https://tools.ietf.org/html/rfc7504)
[RFC 6409](https://tools.ietf.org/html/rfc6409)

Wiki - https://en.wikipedia.org/wiki/Message_submission_agent
(RFC 6409)[https://tools.ietf.org/html/rfc6409]

Fixed by PR #48 